#blog-list {
	background-color: $color_smoke;
	.content-wrapper {
		max-width: 800px;
		.blog-wrapper	{
			padding: 40px 20px;
			margin-top: -100px;
			z-index: 15;
			position: relative;
			background-color: $color_light;
			.heading-wrapper {
				text-align: center;
			}
			.blog-post {
				.counter {
					position: relative;
					.num {
						position: absolute;
						top: -10px;
    				line-height: 20px;
    				position: absolute;
    				left: 0px;
    				right: 0px;
    				margin: 0 auto;
    				text-align: center;
    				color: $color_smokeDark;
    				background-color: $color_light;
    				padding: 0px 10px;
    				width: 30px;
					}
				}
				.thumb-wrapper {
					position: relative;
					height: 240px;
					background-size: cover;
					background-position: center;
					background-color: $color_dark;
					.blog-title-wrapper {
						@include vertical-align;
						position: relative;
						h4 {
							padding: 12px 24px;
							background-color: #ffffff;
							margin: 0 auto;
							max-width: 33%;
							text-align: center;
						}
						.date {
							position: absolute;
							left: 0px;
							right: 0px;
							margin: 0 auto;
							width: 30px;
							text-align: center;
							height: 30px;
							top: -15px;
							background-color: $color_light;
						}
					}
					img {
						max-width: 100%;
						background-color: $color_dark;
						height: auto;
						text-align: center;
					}
					
				}
				.excerpt {
					padding-top: 20px;
				}
			}
		}
	}
}